<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static\demoFor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<title>Demo App</title>

<body>
    <div id="my_title"><h2>MY FIRST APP</h2></div>
    <div id="container1">
        <form id="questionForm">
            <label for="question" id="label_query">Enter your prompt:</label>
            <input type="text" id="question" name="question" placeholder="Query here" required>
            <button type="submit" id="submit" style="font-family: 'Roboto', sans-serif; height:40px; width:10%; font-size:15px;">Submit</button>
        </form>
    </div>

    <div id="answer"></div>
</body>

<script src="static\script.js"></script>
</html>